.stock-chart .card-body {
	padding: 5px
}
.stock-chart .card-heading {
    align-items: center;
    display: grid;
    justify-items: center;
    grid-template-columns: auto 60px;
    width: 100%;
}
.stock-chart .card-footer {
	background-color: rgb(227, 229, 237);
}
.stock-chart .font-size-small {
	font-size: 0.7em;
}
.stock-chart .tooltip {
	position: fixed;
}
@media screen and (min-width: 576px) {
    .stock-chart .font-size-small {
        font-size: 0.8em;
    }
}
@media (min-width: 992px) {
    .stock-chart .font-size-small {
        font-size: 0.9em;
    }
}
@media (min-width: 1200px) {
    .stock-chart .card {
        width: 1200px;
    }
}
